:root {
  --main: #0f172a;
  --accent: #38bdf8;
  --bg: #f8fafc;
  --text: #f8fafc;
  --card-bg: #1e293b;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: var(--bg);
  color: var(--main);
}

body {
  background: var(--bg-gradient);
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--main);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.lang-switcher-button {
  margin-left: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.lang-active {
  color: var(--accent);
}

.menu_logo_wrapper {
  display: flex;
}
footer {
  padding: 20px;
  background: var(--card-bg);
  border-radius: 0 0 24px 24px;
  font-style: oblique;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  footer {
    font-size: 12px;
  }
}
/* ===============================
   BURGER MENU
=============================== */

.burger-menu {
  width: 28px;
  height: 22px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  margin-left: 15px;
  margin-right: 15px;
}

.burger-menu span {
  height: 3px;
  width: 100%;

  background: var(--primary);

  border-radius: 2px;

  transition: all 0.3s ease;
  background: var(--bg);
}

/* Animation */

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* ===============================
   MOBILE MENU
=============================== */

.mobile-menu {
  position: fixed;
  top: 70px;

  width: 220px;

  background: var(--bg-card);

  border-radius: 12px;
  box-shadow: var(--shadow-soft);

  padding: 15px;

  display: none;
  flex-direction: column;
  gap: 12px;

  z-index: 2000;
  background: var(--bg);
}

.mobile-menu a {
  text-decoration: none;
  color: var(--card-bg);

  font-weight: 500;
  padding: 8px;

  border-radius: 8px;

  transition: 0.2s;
}

.mobile-menu a:hover {
  background: var(--main);
  color: var(--primary);
}

/* Active */

.mobile-menu.active {
  display: flex;
}

/* Меню связаться */
.floating-contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
.floating-btn {
  background: var(--accent);
  color: white;
  padding: 14px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.floating-btn:hover {
  transform: translateY(-2px);
}
.floating-menu {
  display: none;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}
.floating-menu a {
  display: block;
  padding: 12px 18px;
  border-radius: 12px;
  background: var(--accent);
  color: white;
  font-weight: 600;
  text-align: center;
  transition: 0.3s;
}
.floating-menu a:hover {
  background: #0ea5e9;
}
