body {
  font-family: "Montserrat", sans-serif;
  color: #415167;
  font-size: 16px;
  height: 100%;
  background: -o-linear-gradient(left, rgba(93, 33, 255, 1) 0%, rgba(179, 33, 255, 1) 50%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(93, 33, 255, 1)),
    color-stop(50%, rgba(179, 33, 255, 1))
  );
  background: linear-gradient(90deg, rgba(93, 33, 255, 1) 0%, rgba(179, 33, 255, 1) 50%);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

header {
  padding: 10px 10px 10px 20px;
  color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  font-weight: 600;
}
.header_wrapper_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  font-size: 14px;
}
.header_img_contact {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
  cursor: pointer;
}
.header_contact_phone {
  background-image: url("../assets/icons/phone.png");
}

.header_contact_whatsapp {
  background-image: url("../assets/icons/whatsapp.png");
}
.header_contact_telegram {
  background-image: url("../assets/icons/telegram.png");
}
.logo_img {
  width: 70px;
  height: 50px;
  background-image: url("../assets/logo/Shanyrak.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer {
  max-width: 100%;
  background: #f5f5f5;
  padding: 10px;
  margin: 0 10px 10px 10px;
  border-radius: 0 0 3px 3px;
}
.footer_back_main {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  background-color: white;
  border: 1px solid #5e2bff;
  background-size: 200% auto;
  background-clip: padding-box;
  transition: background-position 0.5s, color 0.5s;
  font-size: 14px;
}

.footer_back_main:hover {
  color: white;
  background-image: linear-gradient(to right, #5e2bff 0%, #8d4dff 50%, #5e2bff 100%);
  background-position: right center;
  border: none;
}
@media (max-width: 868px) {
  body {
    font-size: 10px;
  }
  header {
    padding: 10px 10px 0px 10px;
  }
  .header_wrapper_contacts {
    font-size: 10px;
    padding-top: 0px;
  }
  .header_img_contact {
    margin-left: 7px;
    width: 20px;
    height: 20px;
  }
  .logo_img {
    width: 50px;
    height: 25px;
  }
}
